html {
  padding: 0 6rem;
}
header {
  border-bottom: 1px solid #efeff1;
  height: 5rem;
}
footer {
  height: 6rem;
  position: absolute;
  bottom: 0;
  background-color: #f5f5f7;
}
header img {
  display: block;
  margin: 1rem auto;
  width: 3.8rem;
}
.main {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.main > div {
  flex: 1 0 50%;
}
.column_1 {
  margin-top: 1rem;
  box-sizing: border-box;
  padding-right: 1rem;
}
.column_2 {
  box-sizing: border-box;
  padding-left: 1rem;
}
.border_img {
  border: 2px solid #efeff1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.big {
  min-height: 19rem;
  align-items: center;
}
.hover:hover {
  border: 2px solid #caced5;
}
.hover:focus {
  border: 2px solid #54b2e0;
}
.main_img {
  display: block;
  max-width: 50%;
  height: 10%;
  margin: 0.5rem auto;
}
.list_img {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  max-height: 5.5rem;
}
.list_img > button {
  width: 30.8%;
  background-color: white;
}
.minor_img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}
.list_tech {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.tech_container {
  margin: 0.8rem;
}
.tech_img {
  display: flex;
  justify-content: center;
}
.red_text {
  color: #b45363;
  font-weight: bold;
}
.gray_text {
  color: #91959d;
}
.price_container {
  margin-top: 2.5rem;
}
.details_container {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
}
.details_container button {
  border: none;
  font-size: medium;
  font-weight: bold;
  margin-right: 1rem;
  background-color: white;
}
.details_container button:hover {
  cursor: pointer;
}
.details_container button:focus {
  color: black;
  border-bottom: 2px solid black;
}
.colors_container {
  display: flex;
  justify-content: space-between;
}
.title {
  margin-top: 3rem;
  font-size: 20px;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.button_border {
  border: 2px solid #efeff1;
  border-radius: 8px;
  background-color: white;
  width: 48.5%;
  text-align: left;
  padding: 0.5rem 1rem 1.5rem 1rem;
}
.warranty_container {
  display: flex;
  flex-direction: column;
}
.button_vertically {
  margin-bottom: 1rem;
  border: 2px solid #efeff1;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.down_line {
  border-bottom: 1px solid #efeff1;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
